USE [power_20]
GO
/****** Object:  Table [dbo].[buyorders]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buyorders](
	[orderno] [int] NULL,
	[c_code] [int] NULL,
	[ord_date] [smalldatetime] NULL,
	[st_code] [int] NULL,
	[notes] [nvarchar](100) NULL,
	[ex] [smallint] NULL,
	[buy_order] [nvarchar](20) NULL,
	[p_invoice] [nvarchar](20) NULL,
	[coin_rate] [money] NULL,
	[rate] [money] NULL,
	[sale_tax] [money] NULL,
	[source_tax] [money] NULL,
	[dollar_factor] [money] NULL,
	[net] [money] NULL,
	[RASM_ELWARED] [money] NULL,
	[OTHER_RESOM_GOMROK] [money] NULL,
	[CALCULATED_VALUE] [money] NULL,
	[msg_code] [int] NULL,
	[acc_code] [int] NULL,
	[bnk_cost_date] [smalldatetime] NULL,
	[khasm_noz] [nvarchar](15) NULL,
	[etmad_open] [money] NULL,
	[etmad_open_com] [money] NULL,
	[ta7wel] [money] NULL,
	[swift] [money] NULL,
	[ektesad] [money] NULL,
	[others] [money] NULL,
	[eleven] [money] NULL,
	[bnk_cost_rate] [money] NULL,
	[total_bnk_cost] [money] NULL,
	[takhles_invoic] [money] NULL,
	[takhles_costs] [money] NULL,
	[other_costs] [money] NULL,
	[other_bnk_costs] [money] NULL,
	[post_costs] [money] NULL,
	[dollar_total] [money] NULL,
	[order] [int] NULL,
	[msg_no] [int] NULL,
	[curr_comm] [money] NULL,
	[agel_comm] [money] NULL,
	[per_invoice] [nvarchar](25) NULL,
	[inv_date] [smalldatetime] NULL,
	[msg_kind] [smallint] NULL,
	[clearer_code] [int] NULL,
	[clear_date] [smalldatetime] NULL,
	[freight_value] [money] NULL,
	[charger_code] [int] NULL,
	[supp_costs] [money] NULL,
	[supp_value] [money] NULL,
	[GOMROK_NO] [nvarchar](50) NULL,
	[GOMROK_DATE] [smalldatetime] NULL,
	[add_date] [smalldatetime] NULL,
	[charger_code2] [int] NULL,
	[charge_in] [money] NULL,
	[supp_discount] [money] NULL,
	[net_dollar] [money] NULL,
	[msg_class] [nvarchar](100) NULL,
	[total_qty] [float] NULL,
	[c_bank] [int] NULL,
	[ch_no] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calls]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calls](
	[c_code] [int] NULL,
	[e_code] [int] NULL,
	[date] [smalldatetime] NULL,
	[contact] [nvarchar](50) NULL,
	[MMANAGER] [nvarchar](200) NULL,
	[NOTES] [nvarchar](200) NULL,
	[DETAILS] [ntext] NULL,
	[rcno] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[code] [int] NULL,
	[car_name] [nvarchar](30) NULL,
	[motor_no] [nvarchar](30) NULL,
	[chase_no] [nvarchar](30) NULL,
	[notes] [nvarchar](50) NULL,
	[car_no] [nvarchar](30) NULL,
	[s_code] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chks]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chks](
	[inv_no] [int] NULL,
	[edate] [smalldatetime] NULL,
	[value] [money] NULL,
	[chno] [int] NULL,
	[orderno] [int] NULL,
	[c_code] [int] NULL,
	[accno] [nvarchar](20) NULL,
	[act_date] [smalldatetime] NULL,
	[act] [smallint] NULL,
	[c_b2] [int] NULL,
	[cdate] [smalldatetime] NULL,
	[hno] [int] NULL,
	[acn] [nvarchar](20) NULL,
	[method] [nvarchar](10) NULL,
	[date] [smalldatetime] NULL,
	[cnt] [int] NULL,
	[sarfno] [int] NULL,
	[kind] [smallint] NULL,
	[scount] [int] IDENTITY(1,1) NOT NULL,
	[edate2] [smalldatetime] NULL,
	[tempdt] [nvarchar](20) NULL,
	[c_coin] [int] NULL,
	[rate] [money] NULL,
	[paid] [money] NULL,
	[C_BANK] [int] NULL,
	[rcno] [int] NULL,
	[s_code] [int] NULL,
	[bx_code] [int] NULL,
	[bian_name] [nvarchar](50) NULL,
	[bian_kind_name] [nvarchar](50) NULL,
	[fact] [smallint] NULL,
	[fpaid] [money] NULL,
	[new_kind] [int] NULL,
	[haccno] [nvarchar](50) NULL,
	[bx_kind] [int] NULL,
	[BX_NAME] [nvarchar](50) NULL,
	[cnt_kind] [int] NULL,
	[pkind] [nvarchar](15) NULL,
	[bx_acc] [smallint] NULL,
	[chk_code] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[charg]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[charg](
	[ord] [int] NULL,
	[place] [nvarchar](50) NULL,
	[company] [nvarchar](50) NULL,
	[date] [smalldatetime] NULL,
	[chno] [nvarchar](20) NULL,
	[value] [money] NULL,
	[kind] [smallint] NULL,
	[notes] [nvarchar](200) NULL,
	[user] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chks2]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chks2](
	[cnt] [int] NULL,
	[edate] [smalldatetime] NULL,
	[value] [money] NULL,
	[c_coin] [int] NULL,
	[rate] [money] NULL,
	[act] [smallint] NULL,
	[act_date] [smalldatetime] NULL,
	[chno] [int] NULL,
	[c_bank] [int] NULL,
	[kind] [smallint] NULL,
	[tempdt] [nvarchar](20) NULL,
	[c_code] [int] NULL,
	[date] [smalldatetime] NULL,
	[PAID] [money] NULL,
	[SARFNO] [int] NULL,
	[HNO] [int] NULL,
	[acc_code] [int] NULL,
	[SCOUNT] [int] IDENTITY(1,1) NOT NULL,
	[bian_name] [nvarchar](50) NULL,
	[bian_kind_name] [nvarchar](30) NULL,
	[fact] [smallint] NULL,
	[fpaid] [money] NULL,
	[chk_name] [nvarchar](50) NULL,
	[new_kind] [smallint] NULL,
	[rcno] [int] NULL,
	[chkno] [nvarchar](30) NULL,
	[pkind] [nvarchar](10) NULL,
	[chk_code] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chargers]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chargers](
	[code] [int] NULL,
	[charger_name] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[tel] [nvarchar](15) NULL,
	[mobile] [nvarchar](15) NULL,
	[fbal] [money] NULL,
	[notes] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chksf]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chksf](
	[sc] [int] NULL,
	[date] [smalldatetime] NULL,
	[old_act] [smallint] NULL,
	[new_act] [smallint] NULL,
	[value] [money] NULL,
	[cnt] [int] NULL,
	[notes] [nvarchar](100) NULL,
	[USER_CODE] [smallint] NULL,
	[ENTRY_TIME] [smalldatetime] NULL,
	[rem] [money] NULL,
	[kind] [smallint] NULL,
	[Old_date] [smalldatetime] NULL,
	[rcn] [int] IDENTITY(1,1) NOT NULL,
	[bx_acc] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chksf2]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chksf2](
	[sc] [int] NULL,
	[date] [smalldatetime] NULL,
	[old_act] [smallint] NULL,
	[new_act] [smallint] NULL,
	[value] [money] NULL,
	[cnt] [int] NULL,
	[notes] [nvarchar](100) NULL,
	[USER_CODE] [smallint] NULL,
	[ENTRY_TIME] [smalldatetime] NULL,
	[rem] [money] NULL,
	[kind] [smallint] NULL,
	[Old_date] [smalldatetime] NULL,
	[bx_acc] [smallint] NULL,
	[cnt_kind] [smallint] NULL,
	[rcn] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chks_transfer]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chks_transfer](
	[cnt] [int] NULL,
	[scount] [int] NULL,
	[bx_code1] [int] NULL,
	[bx_kind1] [int] NULL,
	[bx_code2] [int] NULL,
	[bx_kind2] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ur]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ur](
	[u_n] [char](100) NULL,
	[r_d] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[chstat]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chstat](
	[code] [smallint] NULL,
	[chstat] [nvarchar](15) NULL,
	[acting] [nvarchar](10) NULL,
	[chstat2] [nvarchar](30) NULL,
	[acting2] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clear_costs]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clear_costs](
	[code] [int] NULL,
	[clear_cost_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clearers]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clearers](
	[code] [int] NULL,
	[clearer_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[mobile] [nvarchar](12) NULL,
	[fbal] [money] NULL,
	[notes] [nvarchar](50) NULL,
	[tel] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coins]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coins](
	[code] [smallint] NULL,
	[coin] [nvarchar](50) NULL,
	[iflocal] [bit] NOT NULL,
	[lastprice] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[closed_days]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[closed_days](
	[close_date] [smalldatetime] NULL,
	[close_time] [nvarchar](30) NULL,
	[recno] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[code] [int] NULL,
	[color_name] [nvarchar](50) NULL,
	[color_value] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company_info]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[company_info](
	[Company_name] [nvarchar](100) NULL,
	[segel_togary] [nvarchar](50) NULL,
	[betaka] [nvarchar](50) NULL,
	[sal_tax_no] [nvarchar](50) NULL,
	[branch] [nvarchar](50) NULL,
	[tels] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cust_bal_discount]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cust_bal_discount](
	[noz] [int] NULL,
	[c_code] [int] NULL,
	[date] [smalldatetime] NULL,
	[value] [money] NULL,
	[discount] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cust_prices]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cust_prices](
	[c_code] [int] NULL,
	[i_code] [int] NULL,
	[price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[custs]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[custs](
	[code] [int] NULL,
	[cust] [nvarchar](50) NULL,
	[re_name] [nvarchar](50) NULL,
	[address2] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[notes] [nvarchar](100) NULL,
	[fax] [nvarchar](10) NULL,
	[s_code] [int] NULL,
	[E_NAME] [nvarchar](50) NULL,
	[e_code] [int] NULL,
	[mob] [nvarchar](20) NULL,
	[fbal] [money] NULL,
	[cbal] [money] NULL,
	[chbal] [money] NULL,
	[elimit] [money] NULL,
	[C_REG] [int] NULL,
	[ADNO] [nvarchar](5) NULL,
	[c_ts] [int] NULL,
	[rbal] [money] NULL,
	[TBAL] [money] NULL,
	[kind] [smallint] NULL,
	[hbal] [money] NULL,
	[taken] [int] NULL,
	[entry_time] [smalldatetime] NULL,
	[address] [nvarchar](200) NULL,
	[mobile] [nvarchar](12) NULL,
	[tel1] [nvarchar](12) NULL,
	[tel2] [nvarchar](12) NULL,
	[tel3] [nvarchar](12) NULL,
	[cust_case] [nvarchar](20) NULL,
	[price_kind] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[daen_classes]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daen_classes](
	[code] [int] NULL,
	[daen_class_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[daens]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daens](
	[code] [int] NULL,
	[daen_name] [nvarchar](50) NULL,
	[fbal] [money] NULL,
	[class_code] [int] NULL,
	[notes] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATES]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATES](
	[DATE1] [smalldatetime] NULL,
	[DATE2] [smalldatetime] NULL,
	[INTERV] [nvarchar](120) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[draeb]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[draeb](
	[code] [int] NULL,
	[dr_name] [nvarchar](100) NULL,
	[fbal] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTEMP]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTEMP](
	[CODE] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DTRN]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTRN](
	[ORDERNO] [int] NULL,
	[I_CODE] [nvarchar](12) NULL,
	[EXDATE] [smalldatetime] NULL,
	[QTY] [int] NULL,
	[INO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ee]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ee](
	[wew] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eitems]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eitems](
	[i_code] [int] NULL,
	[o_qty] [money] NULL,
	[price] [money] NULL,
	[orderno] [int] NULL,
	[tax] [money] NULL,
	[ADVALUE] [money] NULL,
	[disc] [money] NULL,
	[price2] [money] NULL,
	[tempdt] [nvarchar](25) NULL,
	[r_qty] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emp]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp](
	[code] [smallint] NULL,
	[name] [nvarchar](50) NULL,
	[E_NAME] [nvarchar](50) NULL,
	[comet] [money] NULL,
	[cbal] [money] NULL,
	[PAYED] [money] NULL,
	[code1] [int] NULL,
	[code2] [int] NULL,
	[notes] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[tel1] [nvarchar](15) NULL,
	[tel2] [nvarchar](15) NULL,
	[fbal] [money] NULL,
	[com_kind] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[code] [int] NULL,
	[name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entry]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entry](
	[entry_no] [int] NULL,
	[entry_date] [smalldatetime] NULL,
	[entry_value] [money] NULL,
	[daily_code] [smallint] NULL,
	[curr_code] [int] NULL,
	[curr_value] [money] NULL,
	[kind] [smallint] NULL,
	[doc_no] [int] NULL,
	[entry_notes] [nvarchar](200) NULL,
	[entry_value2] [money] NULL,
	[user_code] [int] NULL,
	[entry_time] [nvarchar](30) NULL,
	[recno] [int] NULL,
	[orderno] [int] NULL,
	[kid_no_name] [nvarchar](10) NULL,
	[cnt] [int] NULL,
	[ord] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entry_det]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entry_det](
	[entry_no] [int] NULL,
	[madin] [money] NULL,
	[daen] [money] NULL,
	[acc_band_code] [int] NULL,
	[notes] [nvarchar](100) NULL,
	[DOC_NO2] [nvarchar](10) NULL,
	[recno] [int] NULL,
	[mm_code] [int] NULL,
	[orderno] [int] NULL,
	[ser] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[erad]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[erad](
	[CODE] [int] NULL,
	[NAME] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[erad2]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[erad2](
	[code] [int] NULL,
	[name] [nvarchar](50) NULL,
	[mcode] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[etmad]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etmad](
	[etno] [nvarchar](12) NULL,
	[date] [smalldatetime] NULL,
	[value] [money] NULL,
	[c_bank] [int] NULL,
	[notes] [nvarchar](100) NULL,
	[perc] [money] NULL,
	[perc2] [money] NULL,
	[date2] [smalldatetime] NULL,
	[coin] [smallint] NULL,
	[s_code] [int] NULL,
	[orderno] [int] NULL,
	[payed] [money] NULL,
	[finished] [bit] NOT NULL,
	[DATE1] [smalldatetime] NULL,
	[IVALUE] [money] NULL,
	[paid1] [smallint] NULL,
	[paid2] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ezkinds]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ezkinds](
	[code] [smallint] NULL,
	[type] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ez_no]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ez_no](
	[no1] [int] NULL,
	[no2] [int] NULL,
	[no3] [int] NULL,
	[no4] [int] NULL,
	[NO5] [int] NULL,
	[no6] [int] NULL,
	[orderser] [int] NULL,
	[orser] [int] NULL,
	[stadno] [int] NULL,
	[stdeno] [int] NULL,
	[hno] [int] NULL,
	[ncode] [int] NULL,
	[REGNO] [int] NULL,
	[unino] [int] NULL,
	[tsno] [int] NULL,
	[grno] [int] NULL,
	[ITNO] [int] NULL,
	[ORDERNO] [int] NULL,
	[buyno] [int] NULL,
	[srno] [int] NULL,
	[brno] [int] NULL,
	[date] [smalldatetime] NULL,
	[ESTNO] [int] NULL,
	[ESTNO2] [int] NULL,
	[SARNO] [int] NULL,
	[msno] [int] NULL,
	[ERNO] [int] NULL,
	[CONNO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FDBAL]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FDBAL](
	[I_CODE] [nvarchar](12) NULL,
	[ST_CODE] [int] NULL,
	[FQTY] [int] NULL,
	[CQTY] [int] NULL,
	[EXDATE] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fibal]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fibal](
	[P_code] [nvarchar](12) NULL,
	[st_code] [int] NULL,
	[icount] [int] NULL,
	[date] [smalldatetime] NULL,
	[I_CODE] [int] NULL,
	[fqty] [money] NULL,
	[cqty] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fmbal]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fmbal](
	[c_box] [int] NULL,
	[c_coin] [int] NULL,
	[fbal] [money] NULL,
	[cbal] [money] NULL,
	[RATE] [money] NULL,
	[ENTRY_TIME] [smalldatetime] NULL,
	[USER_CODE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[folow]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[folow](
	[code] [int] NULL,
	[date1] [smalldatetime] NULL,
	[date2] [smalldatetime] NULL,
	[tin] [nvarchar](10) NULL,
	[tout] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[governrates]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[governrates](
	[code] [int] NULL,
	[gover_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups2]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups2](
	[code] [int] NULL,
	[mcode] [int] NULL,
	[sub_group] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[heads]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[heads](
	[head1] [nvarchar](100) NULL,
	[head2] [nvarchar](100) NULL,
	[head3] [nvarchar](100) NULL,
	[head4] [nvarchar](100) NULL,
	[head5] [nvarchar](100) NULL,
	[head6] [nvarchar](100) NULL,
	[REPNAME] [nvarchar](12) NULL,
	[RNO] [int] NULL,
	[head7] [nvarchar](100) NULL,
	[head8] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[code] [smallint] NULL,
	[group_name] [nvarchar](50) NULL,
	[E_GROUP] [nvarchar](30) NULL,
	[if_size] [smallint] NULL,
	[if_roll] [smallint] NULL,
	[if_color] [smallint] NULL,
	[if_thick] [smallint] NULL,
	[if_s_d] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hafza]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hafza](
	[hno] [int] NULL,
	[date] [smalldatetime] NULL,
	[c_bank] [int] NULL,
	[kind] [smallint] NULL,
	[value] [money] NULL,
	[paid] [money] NULL,
	[remain] [money] NULL,
	[ACC_CODE] [int] NULL,
	[CNT] [int] NULL,
	[notes] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HEDSARF]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HEDSARF](
	[DATE] [smalldatetime] NULL,
	[NOZ] [int] NULL,
	[C_CODE] [int] NULL,
	[E_CODE] [int] NULL,
	[INV_NO] [int] NULL,
	[INVKIND] [smallint] NULL,
	[KIND] [smallint] NULL,
	[TAX] [money] NULL,
	[DISC00] [money] NULL,
	[NET] [money] NULL,
	[PAYED] [money] NULL,
	[DP] [money] NULL,
	[dtax] [bit] NOT NULL,
	[st_code] [int] NULL,
	[CASH] [money] NULL,
	[CHECK] [money] NULL,
	[rcheck] [money] NULL,
	[ord] [int] NULL,
	[note] [nvarchar](100) NULL,
	[TAXKIND] [smallint] NULL,
	[DISCP] [money] NULL,
	[ADDVALUE] [money] NULL,
	[sal_tax] [money] NULL,
	[CREDIT] [money] NULL,
	[mnet] [money] NULL,
	[rord] [int] NULL,
	[dpcnt] [int] NULL,
	[revers] [int] NULL,
	[taswia] [money] NULL,
	[ifok] [smallint] NULL,
	[cnt] [int] NULL,
	[chks] [money] NULL,
	[ordern] [int] NULL,
	[total] [money] NULL,
	[discount] [money] NULL,
	[sal_tax_ratio] [money] NULL,
	[sal_tax_value] [money] NULL,
	[s_tax_ratio] [money] NULL,
	[s_tax_value] [money] NULL,
	[p_code] [int] NULL,
	[p_invoice] [nvarchar](15) NULL,
	[ENTRY_TIME] [nvarchar](50) NULL,
	[bian] [nvarchar](50) NULL,
	[visa] [money] NULL,
	[user_code] [int] NULL,
	[ezn_kind] [nvarchar](15) NULL,
	[st_notes] [nvarchar](50) NULL,
	[st_entry_time] [nvarchar](30) NULL,
	[inv_case] [nvarchar](15) NULL,
	[new_kind] [smallint] NULL,
	[user_code2] [int] NULL,
	[entry_time2] [nvarchar](30) NULL,
	[total_qty] [money] NULL,
	[ezn_date] [datetime] NULL,
	[inv_date] [char](15) NULL,
	[tempdt] [char](30) NULL,
	[inv_note] [char](100) NULL,
	[sale_order] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HTEMP]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTEMP](
	[CODE] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HTYPES]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTYPES](
	[KIND] [smallint] NULL,
	[HTYPE] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inv_disc_group]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inv_disc_group](
	[ord] [int] NULL,
	[m_c_g] [int] NULL,
	[discp] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invs]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invs](
	[ord] [int] NULL,
	[cnt] [int] NULL,
	[value] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[items](
	[Icode] [nvarchar](10) NULL,
	[c_g] [smallint] NULL,
	[cqty] [int] NULL,
	[min_limit] [int] NULL,
	[max_lim] [int] NULL,
	[buy_price] [money] NULL,
	[sal_price] [money] NULL,
	[code2] [float] NULL,
	[lastser] [int] NULL,
	[e_item] [nvarchar](50) NULL,
	[orderd] [int] NULL,
	[c_s] [int] NULL,
	[c_u] [int] NULL,
	[sal_price2] [money] NULL,
	[sal_price3] [money] NULL,
	[s_code] [int] NULL,
	[st_code] [int] NULL,
	[sal_tax] [money] NULL,
	[iflocal] [bit] NOT NULL,
	[notes] [nvarchar](100) NULL,
	[avr_limit] [int] NULL,
	[max_limit] [int] NULL,
	[ifex] [smallint] NULL,
	[taxinclude] [smallint] NULL,
	[av_bprice] [money] NULL,
	[place] [money] NULL,
	[st_place] [nvarchar](50) NULL,
	[CODE] [int] NULL,
	[F_PRICE] [money] NULL,
	[e_name] [nvarchar](50) NULL,
	[tempdt] [nvarchar](20) NULL,
	[p_code] [nvarchar](30) NULL,
	[fqty] [money] NULL,
	[fqty2] [money] NULL,
	[fqty1] [money] NULL,
	[item] [nvarchar](100) NULL,
	[tfqty] [money] NULL,
	[tfqty1] [money] NULL,
	[tfqty2] [money] NULL,
	[big_c_u] [int] NULL,
	[units] [int] NULL,
	[bar_code] [nvarchar](30) NULL,
	[NOT_USE] [smallint] NULL,
	[mark_code] [int] NULL,
	[description] [nvarchar](200) NULL,
	[c_user] [int] NULL,
	[entry_time] [nvarchar](30) NULL,
	[SIZE_CODE] [int] NULL,
	[THICK_CODE] [int] NULL,
	[ROLL_CODE] [int] NULL,
	[s_c_g] [int] NULL,
	[COLOR_CODE] [int] NULL,
	[i_group] [nvarchar](50) NULL,
	[i_color] [nvarchar](50) NULL,
	[i_size] [nvarchar](30) NULL,
	[i_roll] [nvarchar](50) NULL,
	[i_thick] [nvarchar](50) NULL,
	[s_d_code] [smallint] NULL,
	[s_d_name] [nvarchar](30) NULL,
	[qty1] [money] NULL,
	[price1] [money] NULL,
	[qty2] [money] NULL,
	[price2] [money] NULL,
	[qty3] [money] NULL,
	[price3] [money] NULL,
	[qty4] [money] NULL,
	[price4] [money] NULL,
	[WW1] [money] NULL,
	[WW2] [money] NULL,
	[WW3] [money] NULL,
	[WW4] [money] NULL,
	[sal_price4] [money] NULL,
	[p_code1] [char](30) NULL,
	[p_code2] [char](30) NULL,
	[p_code3] [char](30) NULL,
	[p_code4] [char](30) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[items_costs]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items_costs](
	[i_code] [int] NULL,
	[orderno] [int] NULL,
	[qty] [money] NULL,
	[cost_price] [money] NULL,
	[sale_price] [money] NULL,
	[kk] [smallint] NULL,
	[S_PRICE] [money] NULL,
	[p_code] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items_cust_discount]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items_cust_discount](
	[noz] [int] NULL,
	[i_code] [int] NULL,
	[qty] [int] NULL,
	[old_price] [money] NULL,
	[new_price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kiods]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kiods](
	[kid_no] [int] NULL,
	[kid_date] [smalldatetime] NULL,
	[madin_kind] [int] NULL,
	[daen_kind] [int] NULL,
	[madin_code] [int] NULL,
	[daen_code] [int] NULL,
	[value] [money] NULL,
	[madin_name] [nvarchar](50) NULL,
	[daen_name] [nvarchar](50) NULL,
	[notes] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items_supp_discount]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items_supp_discount](
	[noz] [int] NULL,
	[i_code] [int] NULL,
	[qty] [int] NULL,
	[old_price] [money] NULL,
	[new_price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[m_trn]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[m_trn](
	[noz] [int] NULL,
	[date] [smalldatetime] NULL,
	[c_code] [int] NULL,
	[valu] [money] NULL,
	[kind] [smallint] NULL,
	[valu2] [money] NULL,
	[s_code] [int] NULL,
	[inv_no] [int] NULL,
	[m_code] [int] NULL,
	[orderno] [int] NULL,
	[REC] [nvarchar](50) NULL,
	[LEVEL] [bit] NOT NULL,
	[ESTNO] [int] NULL,
	[C_BANK] [int] NULL,
	[CANCELD] [bit] NOT NULL,
	[e_code] [int] NULL,
	[scn] [int] NULL,
	[scount] [int] NULL,
	[cnt] [int] NULL,
	[bx_code] [int] NULL,
	[c_coin] [int] NULL,
	[rate] [money] NULL,
	[inv] [smallint] NULL,
	[notes] [nvarchar](200) NULL,
	[tempdt] [int] NULL,
	[BIAN] [nvarchar](50) NULL,
	[new_kind] [int] NULL,
	[value_in] [nvarchar](20) NULL,
	[value_out] [nvarchar](20) NULL,
	[bian_kind] [nvarchar](25) NULL,
	[ifcash] [smallint] NULL,
	[ordern] [int] NULL,
	[entry_time] [nvarchar](30) NULL,
	[user_code] [int] NULL,
	[ezn_kind] [nvarchar](30) NULL,
	[car_code] [int] NULL,
	[acc_code] [int] NULL,
	[ifok] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[madin_classes]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[madin_classes](
	[code] [int] NULL,
	[madin_class_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[madins]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[madins](
	[code] [int] NULL,
	[madin_name] [nvarchar](50) NULL,
	[fbal] [money] NULL,
	[class_code] [int] NULL,
	[notes] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[main_esol]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[main_esol](
	[code] [int] NULL,
	[masl] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marks]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marks](
	[code] [int] NULL,
	[mark_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marks0]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marks0](
	[code] [int] NULL,
	[mark_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menus]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menus](
	[cap] [nvarchar](100) NULL,
	[fname] [nvarchar](50) NULL,
	[level] [smallint] NULL,
	[rcn] [int] NULL,
	[mcode] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mohaslin]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mohaslin](
	[code] [int] NULL,
	[moh_name] [nvarchar](50) NULL,
	[comet] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOTEMP]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTEMP](
	[CODE] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ms]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ms](
	[code] [int] NULL,
	[name] [nvarchar](50) NULL,
	[kind] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ms2]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ms2](
	[code] [int] NULL,
	[name] [nvarchar](50) NULL,
	[mcode] [int] NULL,
	[kind] [smallint] NULL,
	[fbal] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msg_costs]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msg_costs](
	[band] [nvarchar](50) NULL,
	[value] [money] NULL,
	[msg_no] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msg_gomrok_costs]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msg_gomrok_costs](
	[band] [nvarchar](50) NULL,
	[value] [money] NULL,
	[msg_no] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MTEMP]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTEMP](
	[CODE] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oitem1]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oitem1](
	[price] [money] NULL,
	[orderno] [int] NULL,
	[BONS] [int] NULL,
	[tax] [money] NULL,
	[bal] [money] NULL,
	[ADVALUE] [money] NULL,
	[PRICE2] [money] NULL,
	[I_CODE] [int] NULL,
	[disc] [money] NULL,
	[r_qty] [int] NULL,
	[o_qty] [money] NULL,
	[hnotes] [nvarchar](50) NULL,
	[cu_kind] [smallint] NULL,
	[stt_code] [int] NULL,
	[true_price] [money] NULL,
	[i_discp] [money] NULL,
	[i_disc] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[orderno] [int] NULL,
	[i_code] [int] NULL,
	[order_qty] [int] NULL,
	[sale_qty] [int] NULL,
	[rem_qty] [int] NULL,
	[PRICE] [money] NULL,
	[DISC] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[owners]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[owners](
	[code] [smallint] NULL,
	[name] [nvarchar](50) NULL,
	[owner_kind] [smallint] NULL,
	[addreess] [nvarchar](200) NULL,
	[tel] [nvarchar](15) NULL,
	[mobile] [nvarchar](15) NULL,
	[capital] [money] NULL,
	[fbal] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[orderno] [int] NULL,
	[c_code] [int] NULL,
	[date] [smalldatetime] NULL,
	[st_code] [int] NULL,
	[e_code] [int] NULL,
	[notes] [nvarchar](100) NULL,
	[ex] [smallint] NULL,
	[cancel] [smallint] NULL,
	[cash] [money] NULL,
	[checks] [money] NULL,
	[credit] [money] NULL,
	[chks] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pass]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pass](
	[date] [smalldatetime] NULL,
	[mony] [money] NULL,
	[mony_now] [money] NULL,
	[serno] [nvarchar](50) NULL,
	[date2] [smalldatetime] NULL,
	[fdate] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paste Errors]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paste Errors](
	[code] [int] NULL,
	[name] [nvarchar](255) NULL,
	[lastinv] [int] NULL,
	[acc_name] [nvarchar](255) NULL,
	[m_code] [int] NULL,
	[fbal] [money] NULL,
	[acc_kind] [smallint] NULL,
	[notes] [nvarchar](255) NULL,
	[acc_report] [smallint] NULL,
	[o_code] [int] NULL,
	[acc_kind2] [int] NULL,
	[tcode] [nvarchar](255) NULL,
	[acc_level] [smallint] NULL,
	[class_code] [int] NULL,
	[main_band] [nvarchar](255) NULL,
	[ehlak_rate] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[process]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[process](
	[process_no] [int] NULL,
	[date] [smalldatetime] NULL,
	[c_code] [int] NULL,
	[notes] [nvarchar](200) NULL,
	[address] [nvarchar](200) NULL,
	[proc_name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_HEADS]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_HEADS](
	[HEAD1] [nvarchar](100) NULL,
	[HEAD2] [nvarchar](100) NULL,
	[HEAD3] [nvarchar](100) NULL,
	[REP_NAME] [nvarchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[racc]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[racc](
	[accno] [nvarchar](20) NULL,
	[c_bank] [int] NULL,
	[accname] [nvarchar](70) NULL,
	[acckind] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reg]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reg](
	[code] [int] NULL,
	[reg] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLLS]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLLS](
	[CODE] [int] NULL,
	[ROLL_NAME] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sap]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sap](
	[sap] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIZES]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIZES](
	[CODE] [int] NULL,
	[SIZE_NAME] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STEMP]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEMP](
	[CODE] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[code] [smallint] NULL,
	[st_name] [nvarchar](50) NULL,
	[re_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[addno] [int] NULL,
	[sarfno] [int] NULL,
	[st_kind] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_esol]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_esol](
	[code] [int] NULL,
	[sasl] [nvarchar](50) NULL,
	[mcode] [int] NULL,
	[fbal] [money] NULL,
	[eh_rate] [money] NULL,
	[buy_date] [smalldatetime] NULL,
	[buy_value] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subtaxes]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subtaxes](
	[orderno] [int] NULL,
	[taxcount] [int] NULL,
	[qty] [int] NULL,
	[buytax] [money] NULL,
	[saltax] [money] NULL,
	[advalue] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supp]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supp](
	[code] [smallint] NULL,
	[su_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[re_name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[notes] [nvarchar](100) NULL,
	[e_name] [nvarchar](50) NULL,
	[mob] [nvarchar](20) NULL,
	[FBAL] [int] NULL,
	[F_BAL] [money] NULL,
	[C_BAL] [money] NULL,
	[CH_BAL] [money] NULL,
	[TBAL] [money] NULL,
	[c_coin] [int] NULL,
	[tel1] [nvarchar](15) NULL,
	[tel2] [nvarchar](15) NULL,
	[tel3] [nvarchar](15) NULL,
	[fax] [nvarchar](15) NULL,
	[supp_kind] [smallint] NULL,
	[class_code] [int] NULL,
	[ifout] [smallint] NULL,
	[acc_code] [int] NULL,
	[service_code] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supp_bal_discount]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supp_bal_discount](
	[noz] [int] NULL,
	[c_code] [int] NULL,
	[date] [smalldatetime] NULL,
	[value] [money] NULL,
	[discount] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPP_DISCOUNTS]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPP_DISCOUNTS](
	[S_CODE] [int] NULL,
	[DATE1] [smalldatetime] NULL,
	[COMMETION] [money] NULL,
	[RECNO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supp0]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supp0](
	[code] [smallint] NULL,
	[su_name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[re_name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[notes] [nvarchar](100) NULL,
	[e_name] [nvarchar](50) NULL,
	[mob] [nvarchar](20) NULL,
	[FBAL] [int] NULL,
	[F_BAL] [money] NULL,
	[C_BAL] [money] NULL,
	[CH_BAL] [money] NULL,
	[inout] [bit] NOT NULL,
	[TBAL] [money] NULL,
	[c_coin] [int] NULL,
	[tel1] [nvarchar](15) NULL,
	[tel2] [nvarchar](15) NULL,
	[tel3] [nvarchar](15) NULL,
	[fax] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_users]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_users](
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[a1] [smallint] NULL,
	[a1_1] [smallint] NULL,
	[a1_2] [smallint] NULL,
	[a1_3] [smallint] NULL,
	[a1_4] [smallint] NULL,
	[a2] [smallint] NULL,
	[a2_1] [smallint] NULL,
	[a2_2] [smallint] NULL,
	[a2_3] [smallint] NULL,
	[a2_4] [smallint] NULL,
	[a2_5] [smallint] NULL,
	[a3] [smallint] NULL,
	[a4] [smallint] NULL,
	[a4_1] [smallint] NULL,
	[a4_2] [smallint] NULL,
	[a5] [smallint] NULL,
	[a6] [smallint] NULL,
	[a7] [smallint] NULL,
	[a8] [smallint] NULL,
	[a9] [smallint] NULL,
	[a9_1] [smallint] NULL,
	[a9_2] [smallint] NULL,
	[a10] [smallint] NULL,
	[a10_1] [smallint] NULL,
	[a10_2] [smallint] NULL,
	[a11] [smallint] NULL,
	[a11_1] [smallint] NULL,
	[a11_2] [smallint] NULL,
	[a12] [smallint] NULL,
	[a13] [smallint] NULL,
	[a13_1] [smallint] NULL,
	[a13_2] [smallint] NULL,
	[b1] [smallint] NULL,
	[b1_1] [smallint] NULL,
	[b1_2] [smallint] NULL,
	[b1_3] [smallint] NULL,
	[b1_4] [smallint] NULL,
	[b1_5] [smallint] NULL,
	[b1_6] [smallint] NULL,
	[b2] [smallint] NULL,
	[b3] [smallint] NULL,
	[b4] [smallint] NULL,
	[b5] [smallint] NULL,
	[b5_1] [smallint] NULL,
	[b5_2] [smallint] NULL,
	[b5_3] [smallint] NULL,
	[b5_4] [smallint] NULL,
	[c1] [smallint] NULL,
	[c2] [smallint] NULL,
	[c3] [smallint] NULL,
	[c4] [smallint] NULL,
	[d1] [smallint] NULL,
	[d2] [smallint] NULL,
	[d3] [smallint] NULL,
	[d4] [smallint] NULL,
	[d5] [smallint] NULL,
	[d6] [smallint] NULL,
	[e1] [smallint] NULL,
	[e2] [smallint] NULL,
	[e3] [smallint] NULL,
	[e4] [smallint] NULL,
	[e5] [smallint] NULL,
	[f1] [smallint] NULL,
	[f2] [smallint] NULL,
	[g1] [smallint] NULL,
	[g2] [smallint] NULL,
	[h1] [smallint] NULL,
	[h2] [smallint] NULL,
	[i1] [smallint] NULL,
	[m54] [smallint] NULL,
	[m55] [smallint] NULL,
	[m56] [smallint] NULL,
	[m61] [smallint] NULL,
	[m62] [smallint] NULL,
	[m63] [smallint] NULL,
	[m71] [smallint] NULL,
	[m72] [smallint] NULL,
	[m73] [smallint] NULL,
	[m81] [smallint] NULL,
	[m82] [smallint] NULL,
	[m83] [smallint] NULL,
	[m84] [smallint] NULL,
	[m181] [smallint] NULL,
	[m410] [smallint] NULL,
	[m311] [smallint] NULL,
	[m115] [smallint] NULL,
	[m1a] [smallint] NULL,
	[m1a1] [smallint] NULL,
	[m1a2] [smallint] NULL,
	[m1b] [smallint] NULL,
	[m1b1] [smallint] NULL,
	[m1b2] [smallint] NULL,
	[m1c] [smallint] NULL,
	[m1d] [smallint] NULL,
	[m1d1] [smallint] NULL,
	[m1d2] [smallint] NULL,
	[m1e] [smallint] NULL,
	[m1e1] [smallint] NULL,
	[m1e2] [smallint] NULL,
	[M1C1] [smallint] NULL,
	[M1C2] [smallint] NULL,
	[M243] [smallint] NULL,
	[a03] [smallint] NULL,
	[a13_3] [smallint] NULL,
	[a13_4] [smallint] NULL,
	[a13_5] [smallint] NULL,
	[a2_6] [smallint] NULL,
	[b2_1] [smallint] NULL,
	[b2_2] [smallint] NULL,
	[b2_3] [smallint] NULL,
	[b2_4] [smallint] NULL,
	[F3] [smallint] NULL,
	[auth] [nvarchar](200) NULL,
	[code] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_coins]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_coins](
	[code] [int] NULL,
	[coin_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_store]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_store](
	[code] [int] NULL,
	[stname] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tafkit]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tafkit](
	[taf] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taxes]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taxes](
	[i_code] [nvarchar](12) NULL,
	[qty] [int] NULL,
	[value] [money] NULL,
	[orderno] [int] NULL,
	[R_QTY] [int] NULL,
	[TAXCOUNT] [int] NOT NULL,
	[u_price] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[takhles_costs]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[takhles_costs](
	[ord] [int] NULL,
	[ms_code] [int] NULL,
	[value] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THICKS]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THICKS](
	[CODE] [int] NULL,
	[THICK_NAME] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[true_items]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[true_items](
	[code] [int] NULL,
	[item] [nvarchar](100) NULL,
	[group] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tsn]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tsn](
	[code] [int] NULL,
	[name] [nvarchar](50) NULL,
	[lastinv] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[types]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[types](
	[code] [smallint] NULL,
	[type] [nvarchar](20) NULL,
	[type2] [nvarchar](20) NULL,
	[BTYPE] [nvarchar](50) NULL,
	[BTYPE2] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[units]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units](
	[code] [int] NULL,
	[name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_bg]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_bg](
	[user_code] [int] NULL,
	[upper_c] [nvarchar](50) NULL,
	[lower_c] [nvarchar](50) NULL,
	[t_1] [nvarchar](50) NULL,
	[t_2] [nvarchar](50) NULL,
	[t_f_n] [nvarchar](50) NULL,
	[t_f_s] [int] NULL,
	[t_left] [int] NULL,
	[t_top] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wsp]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wsp](
	[pass1] [nvarchar](50) NULL,
	[pass2] [nvarchar](50) NULL,
	[pass3] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acc]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc](
	[c_bank] [int] NULL,
	[accname] [nvarchar](50) NULL,
	[acckind] [nvarchar](100) NULL,
	[code] [int] NULL,
	[fbal] [money] NULL,
	[cbal] [money] NULL,
	[C_COIN] [int] NULL,
	[ACCNO] [nvarchar](100) NULL,
	[cost_code] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acc_bands]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_bands](
	[code] [int] NULL,
	[acc_name] [nvarchar](50) NULL,
	[m_code] [int] NULL,
	[fbal] [money] NULL,
	[acc_kind] [smallint] NULL,
	[notes] [nvarchar](50) NULL,
	[acc_report] [smallint] NULL,
	[o_code] [int] NULL,
	[acc_kind2] [int] NULL,
	[tcode] [nvarchar](20) NULL,
	[acc_level] [smallint] NULL,
	[class_code] [int] NULL,
	[main_band] [nvarchar](50) NULL,
	[ehlak_rate] [float] NULL,
	[o_kind] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acc_conv]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_conv](
	[rno] [int] NULL,
	[date] [smalldatetime] NULL,
	[rcno1] [int] NULL,
	[rcno2] [int] NULL,
	[accno1] [nvarchar](20) NULL,
	[accno2] [nvarchar](20) NULL,
	[c_coin1] [int] NULL,
	[c_coin2] [int] NULL,
	[value1] [money] NULL,
	[rate] [money] NULL,
	[notes] [nvarchar](100) NULL,
	[value2] [money] NULL,
	[p_no1] [nvarchar](15) NULL,
	[p_no2] [nvarchar](20) NULL,
	[c_bank1] [int] NULL,
	[c_bank2] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acc_trn]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acc_trn](
	[noz] [int] NULL,
	[date] [smalldatetime] NULL,
	[c_code] [int] NULL,
	[valu] [money] NULL,
	[kind] [smallint] NULL,
	[valu2] [money] NULL,
	[s_code] [int] NULL,
	[inv_no] [int] NULL,
	[m_code] [int] NULL,
	[orderno] [int] NULL,
	[REC] [nvarchar](50) NULL,
	[LEVEL] [bit] NOT NULL,
	[ESTNO] [int] NULL,
	[C_BANK] [int] NULL,
	[CANCELD] [bit] NOT NULL,
	[e_code] [int] NULL,
	[scn] [int] NULL,
	[scount] [int] NULL,
	[cnt] [int] NULL,
	[acc_code] [int] NULL,
	[rate] [money] NULL,
	[inv] [smallint] NULL,
	[notes] [nvarchar](200) NULL,
	[tempdt] [int] NULL,
	[BIAN] [nvarchar](50) NULL,
	[new_kind] [int] NULL,
	[value_in] [nvarchar](20) NULL,
	[value_out] [nvarchar](20) NULL,
	[bian_kind] [nvarchar](30) NULL,
	[C_COIN] [int] NULL,
	[ordern] [int] NULL,
	[user_code] [int] NULL,
	[entry_time] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bcost]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bcost](
	[orderno] [int] NULL,
	[net0] [money] NULL,
	[coin] [smallint] NULL,
	[gom] [money] NULL,
	[chang] [money] NULL,
	[charg] [money] NULL,
	[charg0] [money] NULL,
	[costs] [money] NULL,
	[s_tax] [money] NULL,
	[sal_tax] [money] NULL,
	[coinrate] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bnk]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bnk](
	[code] [int] NULL,
	[name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[tel1] [nvarchar](20) NULL,
	[tel2] [nvarchar](20) NULL,
	[fax] [nvarchar](20) NULL,
	[res] [nvarchar](50) NULL,
	[etman] [nvarchar](50) NULL,
	[tahsil] [nvarchar](50) NULL,
	[tel3] [nvarchar](20) NULL,
	[res2] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bnkadds]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bnkadds](
	[bnkadd] [nvarchar](50) NULL,
	[code] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bnkcost]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bnkcost](
	[bcost] [nvarchar](50) NULL,
	[code] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[boxes]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[boxes](
	[code] [smallint] NULL,
	[bx_name] [nvarchar](50) NULL,
	[re_name] [nvarchar](50) NULL,
	[fbal] [money] NULL,
	[cbal] [money] NULL,
	[branch_code] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[branches]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branches](
	[code] [int] NULL,
	[branch_name] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[tel1] [nvarchar](15) NULL,
	[tel2] [nvarchar](15) NULL,
	[tel3] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buy_order_items]    Script Date: 01/03/2026 03:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buy_order_items](
	[orderno] [int] NULL,
	[i_code0] [int] NULL,
	[dollar_PRICE] [money] NULL,
	[egyptian_price] [money] NULL,
	[qty] [money] NULL,
	[i_code] [int] NULL,
	[weight] [money] NULL
) ON [PRIMARY]
GO
