.body {
    background: #c95b56;
    transition: all .5s;
    padding: 1px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.veen {
    width: 70%;
    margin: 100px auto;
    background: rgba(255,255,255,.5);
    min-height: 400px;
    display: table;
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

    .veen > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
    }

    .veen .__button {
        background: transparent;
        //background-image: linear-gradient(-90deg, #ab6e6e, #c95b56);
        display: inline-block;
        padding: 10px 30px;
        border: 3px solid #fff;
        border-radius: 50px;
        background-clip: padding-box;
        position: relative;
        color: #FFF;
        //box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
        transition: all .25s;
    }

        .veen .__button.dark {
            border-color: #c95b56;
            background: #c95b56;
        }

    .veen .move .__button.dark {
        border-color: #ab6e6e;
        background: #ab6e6e;
    }

    .veen .splits p {
        font-size: 18px;
    }

    .veen .__button:active {
        box-shadow: none;
    }

    .veen .__button:focus {
        outline: none;
    }

    .veen > .wrapper {
        position: absolute;
        width: 40%;
        height: 175%;
        top: -42%;
        right: 5%;
        background: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
        transition: all .5s;
        color: #303030;
        overflow: hidden;
    }

    .veen .wrapper > form {
        padding: 15px 30px 30px;
        width: 100%;
        transition: all .5s;
        background: #fff;
        width: 100%;
    }

        .veen .wrapper > form:focus {
            outline: none;
        }

    .veen .wrapper #login {
        padding-top: 20%;
        visibility: visible;
    }

    .veen .wrapper #register {
        transform: translateY(-80%) translateX(-100%);
        visibility: hidden;
    }

    .veen .wrapper.move #register {
        transform: translateY(-80%) translateX(0%);
        visibility: visible;
    }

    .veen .wrapper.move #login {
        transform: translateX(100%);
        visibility: hidden;
    }

    .veen .wrapper > form > div {
        position: relative;
        margin-bottom: 15px;
    }

    .veen .wrapper label {
        position: absolute;
        top: -7px;
        font-size: 12px;
        white-space: nowrap;
        background: #fff;
        text-align: right;
        right: 15px;
        padding: 0 5px;
        color: #999;
        pointer-events: none;
        width: max-content;
    }

    .veen .wrapper h3 {
        margin-bottom: 25px;
    }

    .veen .wrapper input {
        height: 40px;
        padding: 5px 15px;
        width: 100%;
        border: solid 1px #999;
    }

    .veen .wrapper input {
        height: 40px;
        padding: 5px 15px;
        width: 100%;
        border: solid 1px #999;
    }

        .veen .wrapper input:focus {
            outline: none;
            border-color: #c95b56;
        }

    .veen > .wrapper.move {
        right: 45%;
    }

        .veen > .wrapper.move input:focus {
            border-color: #ab6e6e;
        }

@media (max-width: 767px) {
    .veen {
        padding: 5px;
        margin: 0;
        width: 100%;
        display: block;
    }

        .veen > .wrapper {
            position: relative;
            height: auto;
            top: 0;
            right: 0;
            width: 100%;
        }

        .veen > div {
            display: inline-block;
        }

    .splits {
        width: 50%;
        background: #fff;
        float: right;
    }


        .splits .__button {
            width: 100%;
            border-radius: 0;
            background: #505050;
            border: 0;
            opacity: .7;
        }

            .splits .__button.active {
                opacity: 1;
            }

            .splits .__button.active {
                opacity: 1;
                background: #c95b56;
            }

        .splits.rgstr-btn .__button.active {
            background: #ab6e6e;
        }

        .splits p {
            display: none;
        }

    .veen > .wrapper.move {
        right: 0%;
    }
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    box-shadow: inset 0 0 0 50px #fff
}




._backColor {
    background-color: aqua !important;
}



.CompSelect {
    margin-top: 20%;
    width: 80%;
    background-color: black !important;
    font-weight: bold;
}


.StylePhotoIDLog {
    width: 50%;
    margin-right: 50%;
    margin-top: -40px;
}