@using Core.UI.Models

<style>

	.u-btn {
		margin-top: 0px !important;
		margin-bottom: 2px !important;
	}
</style>
<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">

	 

	<div class="inside-table my-4">

 

		<div id="_Grid">
		</div>


	</div>
</div>


 
 
<script src="~/ClientApp/Employees/EmployeeManagement.js"></script>
