@using Core.UI.Models

<div class="u-clearfix u-custom-color-2 u-section-1" id="carousel_658f">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
            
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-align-center u-clearfix u-gradient u-section-2" id="carousel_47ssa3" style=" direction: ltr !important;">








    <h1 style="color:white">@Res.loading</h1>

















    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1">

                

            </div>
        </div>
    </div>
















</div>


@* <script src="~/ClientApp/Home/Home.js"></script> *@