@using Core.UI.Models




<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">




	<div class="inside-table my-4" style="overflow-x: scroll; padding: 65px;">

		<div id="div_Grid"> 
		</div> 

	</div> 
</div>


<script src="~/ClientApp/VatTypes/VatTypes.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>