USE [ESSA_ERP2025]
GO
/****** Object:  StoredProcedure [dbo].[IProc_Prnt_SlsInvoice]    Script Date: 4/12/2025 10:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description: invoice Print 
-- =============================================
-- IProc_Prnt_SlsInvoice
ALTER PROCEDURE [dbo].[IProc_Prnt_SlsInvoice]    
@InvoiceID as int   
AS
BEGIN 
	SELECT Comp.COMP_CODE, HD.CompCode, Comp.NameA AS Comp_NameA, Comp.NameE AS Comp_NameE, Comp.City AS Comp_City, Comp.Address AS Comp_Address, Comp.IBAN_NO, Comp.BanckAccNo, Comp.BanckAccName, Comp.Fax AS Comp_Fax, Comp.Tel AS Comp_Tel, 
             Comp.Email AS Comp_Email, Comp.VATNO AS Comp_VatNo, Comp.Address_Street AS Comp_Address_Street, Comp.Address_Str_Additional AS Comp_Address_Str_Additional, Comp.Address_BuildingNo AS Comp_Address_BuildingNo, 
             Comp.Address_Build_Additional AS Comp_Address_Build_Additional, Comp.Address_City AS Comp_Address_City, Comp.Address_Postal AS Comp_Address_Postal, Comp.Address_Province AS Comp_Address_Province, Comp.Address_District AS Comp_Address_District, 
             Cus.CustomerId AS Cus_CustomerId, CASE WHEN Isnull(HD.CustomerID, 0) != 0 THEN cus.NAMEA ELSE HD.CustomerName END AS Cus_NAMEA, CASE WHEN Isnull(HD.CustomerID, 0) != 0 THEN cus.CustomerCODE ELSE 'عميل نقدي' END AS Cus_CustomerCODE, 
             CASE WHEN Isnull(HD.MOBILE, '') = '' THEN cus.MOBILE ELSE HD.Mobile END AS Cus_MOBILE, Cus.NAMEE AS Cus_NAMEE, Cus.EMAIL AS Cus_EMAIL, Cus.VatNo AS Cus_VatNo, Cus.Address_postal AS Cus_Address_postal, Cus.Address_Province AS Cus_Address_Province, 
             Cus.Address_Street AS Cus_Address_Street, Cus.Address_Str_Additional AS Cus_Address_Str_Additional, Cus.Address_BuildingNo AS Cus_Address_BuildingNo, Cus.Address_Build_Additional AS Cus_Address_Build_Additional, Cus.Address_City AS Cus_Address_City, 
             Cus.Address_District AS Cus_Address_District, Cus.ISPersonal AS Cus_IsPersonal, HD.SaleID AS HD_SaleID, HD.TrNo AS HD_TrNo, HD.TrType AS HD_TrType, HD.DoNo AS HD_DoNo, HD.ReNo AS HD_ReNo, HD.IsCash AS HD_IsCash, HD.CashType AS HD_CashType, 
             HD.SaleDate AS HD_SaleDate, HD.TrTime AS HD_TrTime, HD.Status AS HD_Status, HD.ItemsTotal AS HD_ItemsTotal, HD.Discount AS HD_Discount, HD.TotalAmount AS HD_TotalAmount, HD.VatTypeID AS HD_VatTypeID, HD.VatAmount AS HD_VatAmount, 
             HD.ChargePrc AS HD_ChargePrc, HD.NetAmount AS HD_NetAmount, HD.RemainAmount AS HD_RemainAmount, HD.PaymentAmount AS HD_PaymentAmount, HD.IsService AS HD_IsService, HD.Remarks AS HD_Remarks, HD.VoucherNo AS HD_VoucherNo, 
             HD.IsPosted AS HD_IsPosted, ISNULL(HD.QRCode, '') AS HD_QRCode, HD.CreatedAt AS HD_CreatedAt, HD.CreatedBy AS HD_CreatedBy, HD.UpdatedAt AS HD_UpdatedAt, HD.UpdatedBy AS HD_UpdatedBy, HD.TaxStatus AS HD_TaxStatus, HD.DocUUID AS HD_DocUUID, 
             DT.SaleDetailID AS DT_SaleDetailID, DT.OneHandQuantity AS DT_OneHandQuantity, DT.Quantity AS DT_Quantity, DT.UnitPrice AS DT_UnitPrice, DT.DiscountPrc AS DT_DiscountPrc, DT.DiscountAmount AS DT_DiscountAmount, DT.NetUnitPrice AS DT_NetUnitPrice, 
             DT.ItemTotal AS DT_ItemTotal, DT.VatPrc AS DT_VatPrc, DT.VatAmount AS DT_VatAmount, DT.NetAfterVat AS DT_NetAfterVat, IT.ItemID AS IT_ItemID, IT.ItemName AS IT_ItemName, '' AS TfkeetAR, HD.JobOrderNo, HD.ShowPriceNo, ISNULL(Um.DescA, 'UNIT') AS Unit_DescA, 
             Um.Rate, HD.EngineerName, HD.DestructionKm, HD.CarNo, HD.CarBrand, HD.Warrantyperiod, IsNull(Tech.SalesManID,0) as SalesManID, Tech.SalesManName, Tech.Mobile
FROM   I_TR_SaleDetails AS DT INNER JOIN
             I_TR_Sales AS HD ON DT.SaleID = HD.SaleID INNER JOIN
             D_I_Items AS IT ON DT.ItemID = IT.ItemID INNER JOIN
             G_COMPANY AS Comp ON HD.CompCode = Comp.COMP_CODE AND IT.CompCode = Comp.COMP_CODE  LEFT OUTER JOIN
             D_A_SalesMan AS Tech ON HD.SalesManID = Tech.SalesManID LEFT OUTER JOIN
             A_Rec_D_Customer AS Cus ON Comp.COMP_CODE = Cus.CompCode AND HD.CustomerID = Cus.CustomerId LEFT OUTER JOIN
             D_I_ItemUnits AS ItUn ON DT.ItemUnitID = ItUn.ItemUnitID AND DT.ItemID = ItUn.ItemID LEFT OUTER JOIN
             D_I_Units AS Um ON Um.UnitID = ItUn.UnitID
			 where HD.SaleID = @InvoiceID 

END
 