USE [MainenanceCenter2025]
GO
/****** Object:  StoredProcedure [dbo].[ProfitInvoice]    Script Date: 4/12/2025 11:31:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
ALTER   PROCEDURE [dbo].[ProfitInvoice]
@InvoiceID int 
AS
BEGIN
Declare @InvAmount  as numeric(19, 2), @COGS as numeric(19, 2), @Service as numeric(19, 2) , @External_Labor as numeric(19, 2) 
   

 SELECT @InvAmount = SUM(ISNULL(NetAfterVat, 0)) FROM [dbo].[Sls_Ivoice]  WHERE InvoiceID = @InvoiceID

 SELECT @COGS =  SUM(ISNULL(StockUnitCost, 0)*SoldQty) FROM Sls_InvoiceDetail dt INNER JOIN Sls_Ivoice hd ON dt.InvoiceID = hd.InvoiceID WHERE hd.InvoiceID = @InvoiceID

 SELECT @Service = SUM(ISNULL(dt.NetAfterVat, 0) * IsNull(SoldQty,0) )  
			FROM Sls_InvoiceDetail dt 
			INNER JOIN Sls_Ivoice hd ON dt.InvoiceID = hd.InvoiceID 
			inner join I_item i on dt.ItemID = i.ItemID
			inner join I_ItemFamily F on i.ItemFamilyID  = f.ItemFamilyID
			inner join I_D_Category C on f.CatID = c.CatID and C.CatID = 1
			WHERE hd.InvoiceID = @InvoiceID
 
 SELECT   @External_Labor = ISNULL(sum(ISNULL(CustAmount,0)),0) - ISNULL(sum(ISNULL(Amount,0)),0)  from [dbo].Expense ex inner join [Sls_Ivoice] inv on inv.InvoiceID = ex.InvoiceID
 where ex.ExtraField = '1'  and ex.TrType =1  and  inv.InvoiceID = @InvoiceID
			
			 
 select IsNull(@InvAmount,0) - (IsNull(@COGS,0) + IsNull(@Service,0) + IsNull(@External_Labor,0)) as Profit
  
End
